<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit product</title>
</head>
<body>
    <h1>Edit a product</h1>
    <form action="/product/<%= product._id %>?_method=PUT" method="POST">
        <label for="name">Name</label>
        <input type="text" value="<%= product.name %>" name="name" id="name">
        <label for="brand">Brand</label>
        <input type="text" value="<%= product.brand %>" name="brand" id="brand">
        <label for="price">Price</label>
        <input type="number" value="<%= product.price %>" name="price" id="price">
        <label for="color">Color</label>
        <input type="text" value="<%= product.color %>" name="color" id="color">
        <label for="category">Category</label>
        <select name="category" id="category">
            <option value="">Select a category</option>
            <option value="Baju" <%= product.category === 'Baju'? 'selected' : '' %>>Baju</option>
            <option value="Celana" <%= product.category === 'Celana'? 'selected' : '' %>>Celana</option>
            <option value="Topi" <%= product.category === 'Topi'? 'selected' : '' %>>Topi</option>
            <option value="Aksesoris" <%= product.category === 'Aksesoris'? 'selected' : '' %>>Aksesoris</option>
            <option value="Jaket" <%= product.category === 'Jaket'? 'selected' : '' %>>Jaket</option>
        </select>
        <input type="submit" value="Edit product">
    </form>
</body>
</html>